.request-card__select-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.cards-list {
  &__item {
    height: 52px;

    box-sizing: content-box;
    display: flex;
    align-items: center;
    gap: 20px;

    border-radius: 12px;
    padding: 20px 6px;
  }

  &__item:hover {
    background-color: var(--item-hover);
    cursor: pointer;
  }

  &__text-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
