.request-card__select-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.cards-list {
  &__item {
    height: 52px;

    box-sizing: content-box;
   

    border-radius: 12px;
    padding: 20px 6px;
    cursor: pointer;
  }

  &__link {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  &__item:hover {
    background-color: var(--item-hover);
   
  }

  &__text-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
