:root {
  --white: #fff;
  --whitesmoke: #f5f5f5;
  --red-color: red;
  --green-color: #0d8423;
  --light-green-color: #11bf6a;
  --grey-text-color: #6c757d;
  --grey-border: 1px solid #26262614;
  --block-shadow: rgba(38, 38, 38, 0.04) 0px 1px 2px, rgba(38, 38, 38, 0.16) 0px 4px 8px;

  --headline-1: 34px;
  --headline-2: 28px;
  --headline-3: 22px;

  --body-big: 16px;
  --body-medium: 14px;
}

.section-title {
  width: 100%;
  text-align: left;
  margin: 24px 0;
}
.headline {
  text-transform: uppercase;
  font-weight: 600;
  line-height: 110%;
}

.headline_1 {
  font-size: var(--headline-1);
}

.headline_2 {
  font-size: var(--headline-2);
}

.headline_3 {
  font-size: var(--headline-3);
}



.body-big {
  font-size: var(--body-big);
  font-weight: 600;
  line-height: 125%;
}

.body-medium {
  font-size: var(--body-medium);
  font-weight: 500;
}

summary::-webkit-details-marker {
  display: none !important;
}

.nav-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.3px;
  color: var(--grey-text-color);

  transition: color 0.3s;

  cursor: pointer;
  position: relative;

  &_active,
  &:hover {
    color: black;
  }

  &_active::before {
    content: "";
    height: 6px;
    width: 100%;
    display: block;
    position: absolute;

    bottom: -4px;
    left: 0;
    background-color: var(--green-color);
    border-radius: 6px;
  }
}

